.movie-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.like-bar {
  height: 10px;
  margin: 10px 0;
  display: flex;
}

button {
  margin-top: 10px;
}

.filter {
  margin-bottom: 20px;
}

.pagination {
  margin-top: 20px;
}

.items-per-page {
  margin-top: 20px;
}
